<main>

      <section class="well2_2 bg-primary">
          <div class="container">
              <h2>集团下属公司</h2>

              <div class="row offset3 marTop3">
                <div class="term-list col-sm-6 marTop6">
                    <dl>
                      <dt>德阳市时代广场投资开发有限公司</dt>
                      <dd>
                        <p>公司地址： 安徽省宿州市汴河西路中煤三建建安公司2#楼0101室</p>
                        <p>联系电话： 4006666228</p>
                        <p>联系人： 张先生</p>
                        <p>传真： 4006666228</p>
                        <p>邮政编码： 234099</p>
                      </dd>
                    </dl>
                </div>
                <div class="term-list col-sm-6 marTop6">
                    <dl>
                      <dt>德阳市时代广场投资开发有限公司</dt>
                      <dd>
                        <p>公司地址： 安徽省宿州市汴河西路中煤三建建安公司2#楼0101室</p>
                        <p>联系电话： 4006666228</p>
                        <p>联系人： 张先生</p>
                        <p>传真： 4006666228</p>
                        <p>邮政编码： 234099</p>
                      </dd>
                    </dl>
                </div>
              </div>
              <div class="row offset3 marTop3">
                <div class="term-list col-sm-6 marTop6">
                    <dl>
                      <dt>德阳市时代广场投资开发有限公司</dt>
                      <dd>
                        <p>公司地址： 安徽省宿州市汴河西路中煤三建建安公司2#楼0101室</p>
                        <p>联系电话： 4006666228</p>
                        <p>联系人： 张先生</p>
                        <p>传真： 4006666228</p>
                        <p>邮政编码： 234099</p>
                      </dd>
                    </dl>
                </div>
                <div class="term-list col-sm-6 marTop6">
                    <dl>
                      <dt>德阳市时代广场投资开发有限公司</dt>
                      <dd>
                        <p>公司地址： 安徽省宿州市汴河西路中煤三建建安公司2#楼0101室</p>
                        <p>联系电话： 4006666228</p>
                        <p>联系人： 张先生</p>
                        <p>传真： 4006666228</p>
                        <p>邮政编码： 234099</p>
                      </dd>
                    </dl>
                </div>
              </div>
              <div class="row offset3 marTop3">
                <div class="term-list col-sm-6 marTop6">
                    <dl>
                      <dt>德阳市时代广场投资开发有限公司</dt>
                      <dd>
                        <p>公司地址： 安徽省宿州市汴河西路中煤三建建安公司2#楼0101室</p>
                        <p>联系电话： 4006666228</p>
                        <p>联系人： 张先生</p>
                        <p>传真： 4006666228</p>
                        <p>邮政编码： 234099</p>
                      </dd>
                    </dl>
                </div>
                <div class="term-list col-sm-6 marTop6">
                    <dl>
                      <dt>德阳市时代广场投资开发有限公司</dt>
                      <dd>
                        <p>公司地址： 安徽省宿州市汴河西路中煤三建建安公司2#楼0101室</p>
                        <p>联系电话： 4006666228</p>
                        <p>联系人： 张先生</p>
                        <p>传真： 4006666228</p>
                        <p>邮政编码： 234099</p>
                      </dd>
                    </dl>
                </div>
              </div>
              <div class="row offset3 marTop3">
                <div class="term-list col-sm-6 marTop6">
                    <dl>
                      <dt>德阳市时代广场投资开发有限公司</dt>
                      <dd>
                        <p>公司地址： 安徽省宿州市汴河西路中煤三建建安公司2#楼0101室</p>
                        <p>联系电话： 4006666228</p>
                        <p>联系人： 张先生</p>
                        <p>传真： 4006666228</p>
                        <p>邮政编码： 234099</p>
                      </dd>
                    </dl>
                </div>
                <div class="term-list col-sm-6 marTop6">
                    <dl>
                      <dt>德阳市时代广场投资开发有限公司</dt>
                      <dd>
                        <p>公司地址： 安徽省宿州市汴河西路中煤三建建安公司2#楼0101室</p>
                        <p>联系电话： 4006666228</p>
                        <p>联系人： 张先生</p>
                        <p>传真： 4006666228</p>
                        <p>邮政编码： 234099</p>
                      </dd>
                    </dl>
                </div>
              </div>
              <div class="row offset3 marTop3">
                <div class="term-list col-sm-6 marTop6">
                    <dl>
                      <dt>德阳市时代广场投资开发有限公司</dt>
                      <dd>
                        <p>公司地址： 安徽省宿州市汴河西路中煤三建建安公司2#楼0101室</p>
                        <p>联系电话： 4006666228</p>
                        <p>联系人： 张先生</p>
                        <p>传真： 4006666228</p>
                        <p>邮政编码： 234099</p>
                      </dd>
                    </dl>
                </div>
                <div class="term-list col-sm-6 marTop6">
                    <dl>
                      <dt>德阳市时代广场投资开发有限公司</dt>
                      <dd>
                        <p>公司地址： 安徽省宿州市汴河西路中煤三建建安公司2#楼0101室</p>
                        <p>联系电话： 4006666228</p>
                        <p>联系人： 张先生</p>
                        <p>传真： 4006666228</p>
                        <p>邮政编码： 234099</p>
                      </dd>
                    </dl>
                </div>
              </div>

          </div>
      </section>

</main>
