<main>

      <section class="well2 bg-primary">
          <div class="container">
              <h2 class="center767">联系我们</h2>

              <div class="row marTop6">
                  <div class="col-sm-4 col-xs-12">
                      <div class="address address__mod">
                          <dl>
                              <dt><span class="fa fa-phone"></span></dt>
                              <dd><a href="callto:#">+1 800 559 6580</a></dd>

                              <dt><span class="fa fa-home"></span></dt>
                              <dd>
                                  <address>中国. 深圳. 罗湖区文锦中路1045号联兴大厦中座四楼</address>
                              </dd>

                              <dt><span class="fa fa-envelope-o"></span></dt>
                              <dd><a href="mailto:#">info@demolink.org</a></dd>
                          </dl>
                      </div>
                  </div>

                  <div class="col-sm-4 col-xs-12">
                      <div class="address address__mod">
                          <dl>
                              <dt><span class="fa fa-phone"></span></dt>
                              <dd><a href="callto:#">+1 800 559 6580</a></dd>

                              <dt><span class="fa fa-home"></span></dt>
                              <dd>
                                  <address>中国. 深圳. 罗湖区文锦中路1045号联兴大厦中座四楼</address>
                              </dd>

                              <dt><span class="fa fa-envelope-o"></span></dt>
                              <dd><a href="mailto:#">info@demolink.org</a></dd>
                          </dl>
                      </div>

                  </div>

                  <div class="col-sm-4 col-xs-12">
                      <div class="address address__mod">
                          <dl>
                              <dt><span class="fa fa-phone"></span></dt>
                              <dd><a href="callto:#">+1 800 559 6580</a></dd>

                              <dt><span class="fa fa-home"></span></dt>
                              <dd>
                                  <address>中国. 深圳. 罗湖区文锦中路1045号联兴大厦中座四楼</address>
                              </dd>

                              <dt><span class="fa fa-envelope-o"></span></dt>
                              <dd><a href="mailto:#">info@demolink.org</a></dd>
                          </dl>
                      </div>
                  </div>
              </div>
          </div>
      </section>

      <div class="baidu-map map map__mod">
          <div style="width:100%;height:500px;" id="dituContent"></div>
      </div>

       <section class="well2 bg-alt">
               <div class="container">
                   <form method="post" action="bat/rd-mailform.php" class="mailform off2 mod2">
                        <input type="hidden" name="form-type" value="contact">
                        <fieldset class="row">
                          <label class="col-md-4 col-sm-12 col-xs-12">
                            <input type="text" name="name" placeholder="姓名:" data-constraints="@LettersOnly @NotEmpty">
                          </label>
                          <label class="col-md-4 col-sm-12 col-xs-12">
                            <input type="text" name="phone" placeholder="电话:" data-constraints="@Phone">
                          </label>
                          <label class="col-md-4 col-sm-12 col-xs-12">
                            <input type="text" name="email" placeholder="邮箱:" data-constraints="@Email @NotEmpty">
                          </label>
                          <label class="col-md-12 col-sm-12 col-xs-12">
                            <textarea name="message" placeholder="信息:" data-constraints="@NotEmpty"></textarea>
                          </label>
                          <div class="mfControls col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn">发送</button>
                          </div>
                        </fieldset>
                      </form>


               </div>
       </section>

</main>
