<main>
  <section class="well2 bg-primary">
    <div class="container">
      <h2 class="center767">联系我们</h2>
      <div class="row marTop6">
        <div class="col-xs-12">
          <div class="address address__mod">
            <dl>
              <dt><span class="fa fa-phone"></span></dt>
              <dd>前台电话: 0755-27910828 - 人事部杨小姐 18923786420</dd>
              <dt><span class="fa fa-home"></span></dt>
              <dd>
                <address>深圳市中濠建工工程有限公司 - 深圳市宝安区西乡大道228号中濠总部9楼</address>
              </dd>
              <dt><span class="fa fa-envelope-o"></span></dt>
              <dd><a href="mailto:szzhonghao@126.com">szzhonghao@126.com</a></dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Map -->
  <div class="baidu-map map map__mod">
    <div style="width:100%; height:500px;" id="dituContent"></div>
  </div>
  <!-- Form -->
  <!--
    <section class="well2 bg-alt">
       <div class="container">
         <form class="mailform off2 mod2">
            <input type="hidden">
            <fieldset class="row">
              <label class="col-md-4 col-sm-12 col-xs-12">
                <input type="text" class="name" placeholder="姓名:" maxlength="250" required>
              </label>
              <label class="col-md-4 col-sm-12 col-xs-12">
                <input type="text" class="phone" placeholder="电话:" maxlength="30">
              </label>
              <label class="col-md-4 col-sm-12 col-xs-12">
                <input type="email" class="email" placeholder="邮箱:" maxlength="250" required>
              </label>
              <label class="col-md-12 col-sm-12 col-xs-12">
                <textarea class="message" placeholder="信息:" required></textarea>
              </label>
              <div class="mfControls col-md-12 col-sm-12 col-xs-12">
                <button type="submit" class="btn">发送</button>
              </div>
            </fieldset>
          </form>
       </div>
     </section>
   -->

</main>
