<main>

      <section class="well2_2 bg-primary">
          <div class="container">
              <h2>加入我们</h2>

              <div class="row offset3 marTop3">
                <div class="term-list col-sm-12 marTop6">
                    <dl>
                      <dt>地产开发总监（集团副总裁级别）</dt>
                      <dd>
                        <p>招聘人数：1</p>
                        <p>工作地点：深圳</p>
                        <p>工资待遇：面谈</p>
                        <p>发布时间：2014-10-27</p>
                        <p>招聘要求：1、具有房地产等相关专业本科及以上学历； 2、30-55岁，五年以上相关行业的从业经验； 3、熟悉房地产项目投资分析、政府有关房地产政策及项目相关各项业务流程，能对项目的投资和退出进行快速论证、分析和评估； 4、具备较强的资源整合、项目运营管理和项目专业团队建设能力； 5、具备较强的沟通、协调和商务谈判能力，具有敏锐的商业触觉，具有一定的社会和行业资源。</p>
                      </dd>
                    </dl>
                </div>
              </div>
              <div class="g-line"></div>

              <div class="row offset3 marTop3">
                <div class="term-list col-sm-12 marTop6">
                    <dl>
                      <dt>副总工程师</dt>
                      <dd>
                        <p>招聘人数：3</p>
                        <p>工作地点：深圳</p>
                        <p>工资待遇：面谈</p>
                        <p>发布时间：2014-10-27</p>
                        <p>1、具有工民建、土木、路桥等相关专业本科及以上学历； 2、40-50岁，十五年以上从事建筑施工技术管理工作经验，并具有本专业高级职称； 3、熟悉施工现场整体流程，精通建筑法律、法规、技术标准，有较丰富的实际工作经验，熟悉了解建设部推广的十项新技术，热心企业技术进步、热爱创新，有获得新技术示范工程、工法、QC小组成果者优先； 4、具备较强的沟通、协调、组织和谈判能力，具备较强的独立分析、独立解决技术问题的能力。</p>
                      </dd>
                    </dl>
                </div>
              </div>
              <div class="g-line"></div>

              <div class="row offset3 marTop3">
                <div class="term-list col-sm-12 marTop6">
                    <dl>
                      <dt>项目部总施工</dt>
                      <dd>
                        <p>招聘人数：6</p>
                        <p>工作地点：深圳</p>
                        <p>工资待遇：面谈</p>
                        <p>发布时间：发布时间</p>
                        <p>1、具有工民建等相关专业中专及以上学历； 2、男性，35-50岁，八年以上工程施工现场施工员（工长）等相关岗位工作经验，并且至少有1-2个大型工程总施工的全盘全过程管理经验； 3、熟悉国家、省、市相关规范、规定和标准，熟悉项目施工管理流程； 4、具备工程项目质量、技术、安全、文明施工、进度、工序调整、成本控制等各环节的全面管理和把控能力，有较强的组织协调能力、团队领导能力和分析处理突发问题能力。</p>
                      </dd>
                    </dl>
                </div>
              </div>
              <div class="g-line"></div>

          </div>
      </section>

</main>
