<main>
  <section class="well10_2 bg-primary">
    <div class="container">
      <h2 class="center767">在建项目</h2>
      {% for row in vars.projects %}
        <div class="row marTop3">
          {% for project in row %}
            <div class="col-sm-4 col-xs-12">
              <div class="thumbnail">
                <a class="thumb" data-fancybox-group="1" href="{{ project.big_img }}">
                  <img src="{{ project.small_img }}" />
                  <span class="thumb_overlay">{{ project.title }}</span>
                </a>
                <div class="caption">
                  <p>{{ project.desc }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </section>
</main>
